@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import "variables.css";
@import "header.css";
@import "item.css";
@import "favourite.css";
@import "productCard.css";
@import "loadButton.css";

body {
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}