/* Heart icon */
.item-favourite {
    width: 25px;
    height: 24px;
    cursor: pointer;
    stroke: var(--main-brand-color);
    fill: var(--main-bg-color);
}

.item-favourite.selected {
    fill: var(--main-brand-color);
}

.image-wrapper .item-favourite {
    position: absolute;
    top: 12px;
    right: 12px;
}

.card-footer .item-favourite {
    margin-left: auto;
}