.header {
    width: 100%;
    background-color: var(--main-bg-color);
    text-align: center;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0 auto;
    padding: 0.6em 0;
}

.header__button {
    color: var(--main-brand-color);
    text-decoration: none;
}

.header__button.browse {
    display: none;
}

.header__button span {
    font-size: 12px;
}