/*item page*/
.main__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

.image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0 1 300px;
    background: var(--main-bg-color);
    border: 1px solid var(--product-border-color);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    margin: 9px 4px;
}

.image-wrapper img {
    align-self: center;
    width: 90%;
    height: auto;
}

.info-block {
    flex: 0 1 590px;
}

.info-block__wrapper {
    background: var(--main-bg-color);
    border: 1px solid var(--product-border-color);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.3);
    margin: 9px 4px;
    padding: 0 20px;
    color: var(--text-color);
}

.info-block__title {
    color: var(--important-text-color);
}

.info-block__buttons-wrapper {
    display: flex;
    margin: 0 -20px;
    width: calc(100% + 40px);
}

.info-block p {
    font-size: 14px;
}

.info-block__label {
    font-size: 14px;
    font-weight: bold;
}

.info-block__button {
    flex: 1;
    border: 1px solid #eeeeee;
    border-bottom: none;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--main-brand-color);
    font-weight: bold;
    padding: 14px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.info-block__button:hover {
    color: var(--main-bg-color);
    background: var(--main-brand-color);
}

.info-block__button.disabled, .info-block__button.disabled:hover {
    cursor: default;
    color: var(--disabled-element-color);
    background: var(--main-bg-color);
}