.button-wrapper {
    width: 100%;
    text-align: center;
}

.load-button {
    display: inline-block;
    background: var(--main-bg-color);
    color: var(--main-brand-color);
    border: 1px solid var(--main-brand-color);
    border-radius: 25px;
    padding: 16px 60px;
    margin: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.load-button:hover {
    color: var(--main-bg-color);
    background: var(--main-brand-color);
}

.load-button.disabled, .load-button.disabled:hover {
    cursor: default;
    border: 1px solid var(--disabled-element-color);
    color: var(--disabled-element-color);
    background: var(--main-bg-color);
}