.product-card {
    flex: 0 1 280px;
    background: var(--main-bg-color);
    margin: 10px;
    border: 1px solid var(--product-border-color);
    border-radius: 2px;
    padding: 15px;
}

.card-footer {
    display: flex;
    margin-top: 12px;
}