:root {
    --main-bg-color: #fbfbfb;
    --main-product-bg-color: #ffffff;
    --main-brand-color: #bba86d;
    --disabled-element-color: #dedede;
    --text-color: #515252;
    --important-text-color: #000000;
    --product-border-color: #eeeeee;
}